<%- include('./parts/header.ejs')%>
<%- include('./parts/part.ejs') %>
<%- include('./parts/usermenu.ejs') %>
<div class="content">
    <center class="about__title">Подтвердите даныне поездки</center>

    <table class="trips-table">
        <thead>
        <tr>
            <th>Откуда</th>
            <th>Куда</th>
            <th>Время отправки</th>
            <th> Пассажир</th>
            <th>Водитель</th>
            <th>Расстояние</th>
            <th>Цена</th>
            <th>Подтвердить</th>
            <th>Отменить</th>
        </tr>
        </thead>
        <tbody>
        <% trips.forEach(function(trip) { %>
        <tr id="<%=trip.id%>">
            <td><%= trip.from %></td>
            <td><%= trip.to %></td>
            <td><%= trip.time.toLocaleString('en-US', {timeZone: 'Europe/Moscow', hour12: false}).replace(',','') %></td>
            <td> <%=trip.passengerID.name%> <%= trip.passengerID.surname%> </td>
            <td> <%=trip.driverID.name%> <%= trip.driverID.surname%> </td>
            <td><%= trip.distance %></td>
            <td><%= trip.price %></td>
            <td><a class="button" style="height: 1em; width: 6em" onclick='confirm("<%=trip.id%>",true)'>Подтвердить</a> </td>
            <td><a class="button" style="height: 1em; width: 6em" onclick='confirm("<%=trip.id%>",false)'>Отказать</a> </td>
        </tr>
        <% }); %>
        </tbody>
    </table>
</div>

<script>
    async function confirm(dbID, status){
        let data = {status : status};
        const resk = await fetch('http://127.0.0.1:4444/confirmroute/'+dbID, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body:JSON.stringify(data)
        });
        location.reload();

    }
</script>


<style>
    .trips-table {
        border-collapse: collapse;
        width: 100%;
        border: 1px solid black;

    }
    tr {
        border: 1px #ff6b6b;

    }
    .trips-table th {
        background-color: #f2f2f2;
        border: 1px solid #ff6b6b;
        padding: 8px;
        text-align: left;
        font-weight: bold;
    }

    .trips-table td {
        border: 1px solid #ff6b6b;
        padding: 8px;
    }

    .trips-table tr:nth-child(odd) {
        background-color: #f9f9f9;
    }


</style>
</div>
<%- include('./parts/footer.ejs') %>
